/* Custom CSS for code blocks and page colors */

/* Light */
/* Page colors */
[data-md-color-scheme="default"] {
  background-color: #f6f8fa !important;
  color: #24292e !important;
}

/* Code colors */
[data-md-color-scheme="default"]  pre > code {
  color: #24292e !important;
  background-color: #f6f8fa !important;
  
/*
  --md-code-hl-number-color: #005cc5;
  --md-code-hl-special-color: #c50063;
  --md-code-hl-function-color: #dea1e4;
  --md-code-hl-constant-color: #9891c4;
  --md-code-hl-keyword-color: #d73a49;
  --md-code-hl-string-color: #258512;
  --md-code-hl-name-color: #005cc5;
  --md-code-hl-operator-color: #808080;
  --md-code-hl-punctuation-color: #808080;
  --md-code-hl-comment-color: #6a737d;
  --md-code-hl-generic-color: #808080;
  --md-code-hl-variable-color: #808080;
*/
}

/* Dark */
/* Page colors */
[data-md-color-scheme="slate"] {
  background-color: #21222b !important;
  color: #f8f8f2 !important;
}

/* Code colors */
[data-md-color-scheme="slate"] pre > code  {
  color: #f8f8f2 !important;
  background-color: #16191b !important;

  --md-code-hl-number-color: #c7c387;
  --md-code-hl-special-color: #78acca;
  --md-code-hl-function-color: #e78b22;
  --md-code-hl-constant-color: #9891c4;
  --md-code-hl-keyword-color: #569CD6;
  --md-code-hl-string-color: #50a061;
  --md-code-hl-name-color: #d6d6d6;
  --md-code-hl-operator-color: #c2c2c2;
  --md-code-hl-punctuation-color: #c0c0c0;
  --md-code-hl-comment-color: #a1a1a1;
  --md-code-hl-generic-color: #808080;
  --md-code-hl-variable-color: #15c2b3;
}

/* === General polish === */
.md-typeset pre > code {
  /* border-radius: 8px; */
  /* padding: 0.75em 1em; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  /* font-size: 0.6rem; */
  /* line-height: 1.4; */
}

